.servicelistcontainer{
    height: 50px;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-around;
    border-bottom: 1px solid;
}

.dropdown-wrapper {
    position: relative;
  }

.dropdown-wrapper:hover {
    border-bottom: 10px solid rgb(123, 202, 5);
  }

.dropdown-trigger {
    cursor: pointer;
  }

.dropdown-content {
    display: none;
    position: absolute;
    top: 120%;
    left: 0;
    background-color: #cacaca;
    border: 1px solid #ccc;
    padding: 10px;
    width: 80vw;
  }

.dropdown-wrapper:hover .dropdown-content {
    display: block;
  }